* {
  border: none;
  min-height: 0;
  font-family: "JetbrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 16px;
  padding: 0;
}

window#waybar {
  background: #181926
}

window#waybar>box {
  margin-bottom: 1px;
  background: #181926;
}

tooltip {
  background: #181926;
  border: 1.5px solid #CAD3F5;
  border-radius: 8px;
}

#temperature,
#memory,
#cpu,
#clock.date,
#clock.time,
#network,
#tray,
#pulseaudio,
#backlight,
#battery,
#custom-weather {
  color: #CAD3F5;
}

/* ────────────────────────────────────────────────────────┤ workspaces ├─── */
#workspaces {
  background: #1E2030;
  padding: 4px 8px;
}

#workspaces button {
  padding: 0px 14px;
  border-radius: 20;
  color: #CAD3F5;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.active {
  background: #939AB7;
  color: #181926;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#custom-right1 {
  color: #1E2030;
  padding-right: 4px;
}

/* ────────────────────────────────────────────────────────┤ window title ├─── */
#window {
  color: alpha(#CAD3F5, 0.8);
}

/* ────────────────────────────────────────────────────────┤ distro left side ├─── */
#custom-left1 {
  color: #1E2030;
  padding-left: 4px;
}

#temperature {
  background: #1E2030;
  padding-right: 24px;
}

#custom-left2 {
  color: #24273A;
  padding-left: 4px;
  margin-left: -16px;
}

#memory {
  background: #24273A;
  padding-right: 24px;
}

#custom-left3 {
  color: #363A4F;
  padding-left: 4px;
  margin-left: -16px;
}

#cpu {
  background: #363A4F;
  padding-right: 8px;
}

#custom-leftin1 {
  color: #363A4F;
  font-size: 26;
  text-shadow: 4px 0 2px rgba(0, 0, 0, 0.5);
}

/* ────────────────────────────────────────────────────────┤ distro ├─── */
#custom-left_distro {
  color: #939AB7;
  font-size: 26;
  padding-left: 4px;
  text-shadow: -4px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-distro {
  background: #939AB7;
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 22px;
}

#custom-right_distro {
  color: #939AB7;
  font-size: 26;
  padding-right: 4px;
  text-shadow: 4px 0 2px rgba(0, 0, 0, 0.5);
}

/* ────────────────────────────────────────────────────────┤ distro right side ├─── */
#custom-rightin1 {
  color: #363A4F;
  font-size: 26;
  text-shadow: -4px 0 2px rgba(0, 0, 0, 0.5);
}

#clock.time {
  background: #363A4F;
}

#custom-right2 {
  background: #24273A;
  color: #363A4F;
  padding-right: 8px;
}

#clock.date {
  background: #24273A;
  padding-right: 4px;
}

#custom-right3 {
  background: #1E2030;
  color: #24273A;
  padding-right: 4px;
}

#network {
  background: #1E2030;
}

#custom-right4 {
  color: #1E2030;
  padding-right: 8px;
}

/* ────────────────────────────────────────────────────────┤ right side ├─── */
#custom-left4 {
  color: #1E2030;
  padding-left: 4px;
}

#tray {
  background: #1E2030;
}

#custom-left5 {
  background: #1E2030;
  color: #24273A;
  padding-left: 16px;
}

#pulseaudio {
  background: #24273A;
}

#custom-left6 {
  background: #24273A;
  color: #363A4F;
  padding-left: 4px;
}

#backlight {
  background: #363A4F;
}

#custom-left7 {
  color: #939AB7;
  background: #363A4F;
  padding-left: 4px;
}

#battery {
  background: #939AB7;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

#cpu.critical,
#memory.critical {
  color: #c14a4a;
}

#battery.warning,
#battery.critical {
  background: #939AB7;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
  color: #c14a4a;
}

#custom-leftin2 {
  color: #9198B5;
  font-size: 26.3;
  text-shadow: 4px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-weather {
  padding-right: 10px;
  padding-left: 4px;
}

#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7 {
  font-size: 26;
  text-shadow: -4px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4 {
  font-size: 26;
  text-shadow: 4px 0 2px rgba(0, 0, 0, 0.5);
}
