/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               "real";
	drun-display-format:        "{name}";

    kb-clear-line: "Control+u";
	kb-move-front: "Control+a";
	kb-move-end: "Control+d";
	kb-move-word-back: "Control+Left";
	kb-move-word-forward: "Control+Right";
	kb-move-char-back: "Left";
	kb-move-char-forward: "Right";
	kb-remove-word-back: "Control+w,Control+BackSpace";
	kb-remove-word-forward: "Control+e,Control+Delete";
	kb-remove-char-forward: "Delete";
	kb-remove-char-back: "BackSpace";
	kb-remove-to-eol: "Control+End";
	kb-remove-to-sol: "Control+Home";
}
mode-switcher {
    enabled:                     false;
}

/*****----- Global Properties -----*****/
* {
    foreground-alt:            rgba(255, 255, 255, 0.5);
    background-alt:            rgba(147, 154, 183, 0.2);
    background:                #1E2127FF;
    foreground:                #FFFFFFFF;
    selected:                  #939AB7FF;
    font:                        "JetBrains Mono Nerd Font 14";
}

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    fullscreen:                  false;
    width:                       600px;
    height:                      400px;

    /* properties for all widgets */
    enabled:                     true;
    background-color:            transparent;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    padding:                     10px;
    border-color:                @selected;
    background-color:            @background;
    children:                    [ "inputbar", "listview"];
    border:                      2px solid;
    border-color:                @selected;
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     0px 0px 0px 10px;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "entry"];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    padding:                     5px 0px;
    expand:                      false;
    str:                         " ";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    padding:                     5px 0px;
    background-color:            inherit;
    text-color:                  @foreground-alt;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    cycle:                       false;
    scrollbar:                   true;
    layout:                      vertical;
    reverse:                     false;
    
    spacing:                     5px;
    background-color:            transparent;
    text-color:                  @foreground;
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @selected;
    background-color:            @background-alt;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px 10px 0px 0px;
    padding:                     5px 10px;
    border:                      0px solid;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            @background;
    text-color:                  @foreground;
}
element selected.normal {
    background-color:            @selected;
    text-color:                  @background;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
}